.header {
    width: 100%;
    height: 67px;

    background-color: #C3CFD9;

    position: fixed;
    top: 0px;

    z-index: 1;
}

.header div {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.header div p {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #E8833A;
}

.header img {
    width: 30px;

    position: absolute;
    left: 20px;
}