body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-top: 67px;
    padding-bottom: 140px;
}

a {
    text-decoration: none;
}

.loading-gif {
    margin-top: 220px;
}